!!!
%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
	%body
		%h1
			Hi 
		%p
			Please find below the post in which you have been tagged.Please review people might be waiting for your response.
		%p
			%ul
				- Post.where(id: @posts_id).each do |post|
					%li
						= link_to post.title , 'http://localhost:3000/posts/'+ post.id.to_s