/ <!DOCTYPE.html>
/ %html
/   %head
/     %title About Us
/     %body
/       %header#page_header
/         %nav
/           %h1{:align => "center"} Contact Us
/           %p A learning management system (LMS) is a software application for the administration, documentation, tracking, reporting and delivery of electronic educational technology (also called e-learning) courses or training programs.
<!DOCTYPE.html>
<html>
<head>
<title> About Us </title>
<style>
header#page_header nav ul li{
list-style:none;
}
a{
text-decoration:none;
float: left;
height: 40px;
line-height:40px;
padding:0 10px;
margin:0 5px;
border-top-left-radius:8px;
border-top-left-radius:8px;
/ color: #03C;
background-color:#FC6;
font-size:18px;
/*font-family:Georgia, "Times New Roman", Times, serif;*/
}
/ a:hover {
/ background-color: #FF6;
/ }
</style>
<body>
<header id="page_header">
<nav>
<h1 align="center"> About Us</h1>
<p> Public Library is a resource area which includes materials like books, video links and blogs for various courses. Students who browse for a particular topic, can get articles, journal, interesting references that are par with the courses that students have taken. </p>
<hr>
<p>The library has been developed by collaborating the group efforts of the Aloma, Bhuvnesh, Roshni and Rati who have contributed equally in delivering this library for enhancing learning among students and providing a wider scope of learning to students.</p>
<p>
Bhuvnesh has implemented the library search and basic LMS from scratch. 
Roshni has implemented the static HTML web pages for the basic structure of LMS and also created the web pages for blogs.
Rati has prepared the repository for books, videos and other web links to be included in the library 
Aloma has designed the blogs and aspects to be implemented that enable collaboration with faculty.   

</p>
</body>
</html>
