<!DOCTYPE.html>
%html
  %head
    %title About Us
    %body
      %header#page_header
        %nav
          %h1{:align => "center"} Contact Us
          %p Questions about teaching a course? Contact us at xyz@mail.com or call 800.203.6755 FREE.