<!DOCTYPE.html>
%html
  %head
    %body
      %h1{:align => "center"} FAQ
      %h1{:align => "center"} All the information about our LMS can be found here
      %a{:href => ""} 1. I can't login?
      %p If you have your password right and you cant login you most likely do not have Javascript and Cookies enabled in your browser. These are required by Litmos to operate effectively.
      %a{:href => ""} 2. Do I have to download any software?
      %p No! There is no software to download, Litmos is a hosted on-demand training system. You can build, deliver and track training from anywhere you have access to the internet.
      %a{:href => ""} 3. What are the minimum system requirements for using Creative Minds?
      %ul
        %li
          An Internet connection
        %li
          Web browser:
          %ul
            %li Internet Explorer 8+
            %li
              Firefox 2+
            %li
              Safari on Mac 1.2+
            %li
              Google Chrome
        %li Javascript and Cookies enabled
        %li Flash Player 9+
        %li While not a requirement, Litmos is best viewed using a minimum screen resolution of 1024×76
      %p
        %a{:href => ""} 4. Will there be tutorials provided for using the library?
      %p Yes, there will be tutorials provided for both students and the instructors.
      %p
        %a{:href => ""} 5. What if I do not find the book that I need?
      %p You can fill up query forms or chat with the librarian. They would assist you with the book, if it exists in the repository.
      = @name