/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require custom
 *= require_tree .
 *= require social-share-button
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'normalize';




html, body {
	font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
}

a {
	text-decoration: none;
	color: inherit;
}

#sidebar {
	width: 250px;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	background: #f5f7f9;
	padding: 7em 0 0 0;
	border-right: 1px solid #d6dce0;
	#logo {
		width: 40px;
		position: absolute;
		right: 3em;
		top: 3em;
	}
	ul {
		list-style: none;
		text-align: right;
		padding-right: 3em;
		.category {
			font-weight: 700;
			font-size: 0.7em;
			text-transform: uppercase;
			color: #33acb7;
		}
		li {
			padding: .5em 0;
			a {
				color: #9eafba;
				text-decoration: none;
				transition: all .4s ease;
				&:hover {
					color: #33acb7;
				}
			}
		}
		.active {
			a {
				color: #33acb7;
			}
		}
	}
	.sign_in {
		position: absolute;
		right: 3em;
		top: 80%;
		font-size: .8em;
		color: #9eafba;
	}
}

.button {
	outline: none;
	background: transparent;
	border: 1px solid #d6dce0;
	padding: .5em 1.5em;
	border-radius: 1.5em;
	&:hover {
		border: 1px solid #33acb7;
		color: #33acb7;
		a {
			color: #33acb7 !important;
		}
	}
}

.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
#blogName
{
	margin-left:10px;
	font-size:10px;
	font-family: Arial;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 24px;
}
#blogName::before
{
	content: 'Posted By :';
}
#postedTime
{
	padding: 5px;
	background-color: #8557b1;
	color:white;
	margin-left: 20px;
	font-family: Arial;
	font-size: 10px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 24px;
}

#blogPlace{
	border-bottom: 1px solid black;
}

#blogPlace h2
{
	font-family: 'Helvetica Neue';
	font-size: 24px;
	font-style: italic;
	font-variant: normal;
	font-weight: 400;
	line-height: 24px;
}

#main_content {
	/*margin-left: 250px; */
	#header {
		padding: 1em 3em;
		border-bottom: 1px solid #d6dce0;
		background: #f5f7f9;
		color: #9eafba;
		p {
			display: inline;
		}
		a {
			color: #9eafba;
			text-decoration: none;
		}
		.buttons {
			float: right;
			margin-top: -6px;
			.button {
				font-size: .8em;
				margin-left: .5em;
			}
		} 
	}
	.post_wrapper {
		padding: 3em;
		border-bottom: 1px solid #d6dce0;
		.title {
			margin: 0;
			a {
				font-weight: 500;
				text-decoration: none;
				color: #2a2f35;
				font-size: 1.5em;
				&:hover {
					color: #33acb7; 
				}
			}
		}
		.date_and_author {
			color: #9eafba;
			margin: .5em 0 0 0;
		}
	}
	#post_content {
		padding: 1em 3em;
		.title {
			font-weight: 500;
			text-decoration: none;
			color: #2a2f35;
			font-size: 2.5em;
			margin-bottom: 0;
		}
		.body {
			font-size: 1.1em;
			line-height: 1.75;
		}
		.date_and_author {
			color: #9eafba;
			margin: .5em 0 2em 0;
		}
		#comments {
			h2 {
				margin: 3em 0 1em 0;
				border-bottom: 1px solid #d6dce0;
				padding-bottom: 0.5em;
			}
			h3 {
				margin-top: 2em;
			}
			.comment {
				border-bottom: 1px solid #d6dce0;
				padding: 1.5em 2em;
				.clear_both {
					clear: both;
				}
				&:after {
					clear: both;
				}
				.comment_content {
					float: left;
					.comment_name {
						margin: 1em 0 0 0;
						font-size: 0.7em;
						text-transform: uppercase;
					}
					.comment_body {
						font-size: 1.2em;
						margin: 0.2em 0 0 0;
					}
					.comment_time {
						margin-top: 1.2em;
						font-size: .8em;
					}
				}
				.button {
					float: right;
				}
			}
			input[type="text"], textarea {
				width: 50%;
			}
		}
	}
	#page_wrapper {
		padding: 3em;
		#profile_image {
			width: 300px;
			float: left;
			margin-right: 2em;
			img {
				width: 100%;
				border-radius: 0.35em;
			}
		}
		#content {
			h1 {
				font-weight: 500;
			}
			p {
				font-size: 1.1em;
				line-height: 1.75;
			}
			a {
				color: #33acb7;
				font-weight: 700;
				text-decoration: none;
			}
		}
	}
	.links {
		margin: 2em 0;
	}
	input[type="text"], input[type="email"], input[type="password"], textarea {
		width: 90%;
		border: 1px solid #d6dce0;
		border-radius: .35em;
		margin-top: 10px;
		padding: .5em 1em;
		line-height: 1.75;
	}
	input[type="text"] {
		height: 35px;
	}
	textarea {
		min-height: 180px;
	}
	input[type="submit"] {
		outline: none;
		font-family: sans-serif;
		font-weight: 400;
		background: transparent;
		border: 1px solid #d6dce0;
		padding: .5em 1.5em;
		font-size: 1.1em;
		background-color: #00cd00;
		color:white;
		border-radius: 1.5em;
		margin-left: .5em;
		&:hover {
			
			background-color: #008000;
		}
	}
}

#postImg
{
	float: right;
	margin:20px;
	margin-top: -80px;
}
#postTxt
{
	clear:both;
	padding: 10px;
}
#blog_detail_title h2
{
	font-family: 'Helvetica Neue';
	font-size: 35px;
	font-style: normal;
	font-variant: normal;
	font-weight: 600;
	line-height: 24px;
	
}
#postVideo
{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:80%;
	margin-top:10px;
	margin-bottom:10px;
}
.btnTxt
{
	margin-left:10px;
	color:white;
}
.btnTxt:visited
{
	text-decoration:none;
	color:white;
}
#new_post_heading
{
	text-align:center;
	font-family: 'Helvetica Neue';
	font-size: 35px;
	font-style: normal;
	font-variant: normal;
	font-weight: 600;
	line-height: 24px;

}
#createBtn
{
	font-size:18px;
	text-align:center;
}
.radioStyling
{
	margin-left:20px;
}
#updateBtn
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	margin-top: 3em;
}
.btnDown
{
	margin-left:80%;
}
#bodyContent
{
	width: 120%;
	height: 130%;
	margin-left:-100px;
	margin-top:-280px;
	
	z-index: -1;
	background: url('https://images.unsplash.com/photo-1423592707957-3b212afa6733?crop=entropy&dpr=2&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1450');
}
.image
{
	position: relative;
	width: 80%;
	margin-left:-100px;
	margin-top:-50px;
}
.image h2
{
   position: absolute; 
   top: 50px; 
   left: 50px; 
   width: 100%; 
   color:white;
}
#libHead
{
	color:white;
	font-family: 'Helvetica Neue';
	font-size: 80px;
	font-style: normal;
	font-variant: small-caps;
	font-weight: bold;
	line-height: 26.4px;
}